<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <main class="container">
      <%- include('display'); -%>
      <div class="timeout">
        <h3 id="display_timeout"><%= loading %></h3>
      </div>
      <div class="controls">
        <div>
          <button id="reset"><%= reset %></button>
        </div>
      </div>
    </main>
    <script>
      (() => {
        window.adminPromptMessage = "<%= adminPrompt %>";
        window.responseMessage = "<%= response %>";
        window.wrongPassword = "<%= wrongPassword %>";
      })()
    </script>
    <script src="scripts/makeRequestBody.js"></script>
    <script src="scripts/getTimeout.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/reset.js"></script>
    <script src="scripts/index.js"></script>
  </body>
</html>
