<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <main class="container">
      <%- include('display'); -%>
      <div class="controls">
        <div>
          <button id="reset"><%= reset %></button>
        </div>
      </div>
    </main>
    <script>
      (() => {
        window.promptMessage = "<%= prompt %>";
        window.responseMessage = "<%= response %>";
        window.thresholds = "<%= values.thresholds %>";
        window.images = "<%= values.images %>";
        "<% if (timeout) { %>"
          window.timeout = "<%= timeout %>";
        "<% } %>"
      })()
    </script>
    <script src="scripts/makeRequestBody.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/reset.js"></script>
    <script src="scripts/index.js"></script>
  </body>
</html>
