<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <main class="container">
      <%- include('display'); -%> <%- include('percentage_controls'); -%>
      <%- include('like'); -%>
      <div class="timeout">
        <h3 id="display_timeout"><%= loading %></h3>
      </div>
      <button id="debug">Debug off</button>
    </main>
    <script>
      (() => {
        window.adminPromptMessage = "<%= adminPrompt %>";
        window.wrongPassword = "<%= wrongPassword %>";
        window.promptMessage = '<%= prompt %>';
        window.responseMessage = '<%= response %>';
        window.thresholds = '<%= values.thresholds %>';
        window.images = '<%= values.images %>';
        window.timeout = parseInt('<%= timeout %>', 10);
      })();
    </script>
    <script src="scripts/makeRequestBody.js"></script>
    <script src="scripts/getTimeout.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/user.js"></script>
    <script src="scripts/like.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/percentageManagement.js"></script>
    <script>
      let debugMode = false;
      const debugButtonNode = document.getElementById('debug');
      const toggleDebug = () => {
        fetch('/debug', {
          method: 'POST',
          body: {
            ...window.makeUpdateRequestBody('debugMode', debugMode)
          }
        })
          .then(res => res.json())
          .then(({ debugActive }) => {
            debugMode = debugActive;
            debugButtonNode.textContent = `Debug ${debugActive ? 'on' : 'off'}`;
          });
      }
      debugButtonNode.addEventListener('click', toggleDebug);
    </script>
  </body>
</html>
