<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <img id="hidden_image" style="display: none;" src="" alt="test" class="image">
    <main class="container">
      <%- include('display'); -%>
      <%- include('percentage_controls'); -%>
      <%- include('like'); -%>
      <%- include('timeout'); -%>
    </main>
    <%- include('scripts'); -%>
  </body>
</html>
