<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <img id="hidden_image" style="display: none;" src="" alt="test" class="image">
    <main class="container">
      <%- include('display'); -%>
      <% if (timeout !== 0) { %>
        <%- include('percentage_controls'); -%>
      <% } %>
      <%- include('like'); -%>
      <%- include('timeout'); -%>
    </main>
    <%- include('scripts'); -%>
    <% if (timeout !== 0) { %>
      <script src="scripts/percentageManagement.js"></script>
    <% } %>
  </body>
</html>
